.basic-display-navigation{
    display:flex;
    flex-wrap: wrap;
    grid-gap: 10px;
}
.center{
    justify-content:center;
}
.nav-link.active{
    color: rgb(202, 37, 8) !important;
    border-bottom: 2px solid red !important;
}
